* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 200px);
}

.box-1 {
    color: white;
    background-color: black;
    text-align: center;
    align-content: center;
}

.box-2 {
    color: white;
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    align-content: center;
}

.box-3 {
    background-color: #4a82c0;
    color: white;
    text-align: center;
    align-content: center;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
}

.box-4 {
    background-color: #233249;
    color: white;
    align-content: center;
    text-align: center;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
}

.box-5 {
    background-color: #bbdddf;
    color: white;
    align-content: center;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
}

.box-6 {
    background-color: #4bb792;
    color: white;
    align-content: center;
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
}

.box-7 {
    background-color: #f7ca66;
    color: white;
    align-content: center;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
}

@media (max-width: 992px) {
    .box-1 {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .box-2 {
        grid-row-start: 4;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .box-3 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .box-4 {
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .box-6 {
        grid-row-start: 7;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .box-7 {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

@media (max-width: 576px) {
    .main-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 200px);
        margin: auto;
    }

    .box-1 {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .box-2 {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .box-3 {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .box-4 {
        grid-row-start: 4;
        grid-column-start: 1;
    }

    .box-5 {
        grid-row-start: 7;
        grid-column-start: 1;
    }

    .box-6 {
        grid-row-start: 6;
        grid-column-start: 1;
    }

    .box-7 {
        grid-row-start: 5;
        grid-column-start: 1;
    }
}