.info-card {
    border-radius: 10px;
    border: 2px dashed blue;
    outline: 2px solid orange;
    outline-offset: 8px;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff;
}

.info-card h3 {
    font-weight: bold;
    font-variant: small-caps;
}

.info-card p{
    text-align: justify;
    font-weight: 400;
    font-variant: normal;
}